= form_for post, :html => { :class => 'form-horizontal'}, remote: true do |f|
  
  .control-group
    
    = f.text_area :body, :class => 'text_area input-xxlarge', rows: 2
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :board_id, value: @board.id
    = f.submit nil, :class => 'btn btn-primary'
    